.titulo-iphone-11 {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 55px;
    font-size: 50px;
    font-weight: bold;
}

.art-compra-iphone-11 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 30px;
}
.art-compra-iphone-11 img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 1rem;
}

.info-iphone-11 {
    display: flex;
    flex-direction: column;
}

.info-iphone-11 h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.info-iphone-11 h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.info-iphone-11 p {
    font-size: 18px;
    margin-bottom: 20px;
}

.info-iphone-11 a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    color: $color-verde;
    border: 1px solid;
    border-radius: 4px;
    transition: all 300ms ease;
    cursor: default;
    overflow: hidden;
    border-radius: 6px;
    &:hover {
      transition: 0.5s;
      background-color: #1D293F;
    }
}

.info-iphone-11 span {
    font-size: 13px;
    margin-top: 50px;    
}